manifest {
    homePage = 'http://github.com/skptic/tuxedo-nf'
    description = 'Nextflow Implementation of Tuxedo Suite'
    mainScript = 'tuxedo.nf or tuxedo_trim.nf'
}
params { 

    // input sequences [FASTQ or FASTQ.GZ]
    reads = "$baseDir/fastqs/ERR188*_chrX_reduced_{1,2}.fastq.gz"

    // genome index [HISAT2 INDEX]
    index = "/share/home/guogroup/luom/database/RNA_database/grch38_snp_tran/genome_snp_tran"

    // annotation [GTF]
    annotation = "/share/home/guogroup/luom/database/RNA_database/Homo_sapiens.GRCh38.86.chr.gtf" 

    // output directory [DIR]
    output = "$baseDir/results"

} 

docker {
    enabled = true
    runOptions = "--user $UID "
}

process {
    container = 'dockerluom/tuxedo-nf'
} 

//
//includeConfig "$baseDir/params_default.config"
//

